[mysqld.1]
debug=d,preserve_temp_no_full_undo_scan
server_id=1
log_error_verbosity=3
default_authentication_plugin=mysql_native_password
log-bin=temp-strict-bin
binlog-format=ROW
gtid-mode=ON
enforce-gtid-consistency=ON
rds-preserve-trx-enable=ON
rds-preserve-trx-temp-id-namespace=ON

[ENV]
SERVER_MYPORT_2=@mysqld.1.port
