[mysqld.1]
server_id=1
default_authentication_plugin=mysql_native_password
rds-preserve-trx-enable=ON
rds-preserve-trx-temp-id-namespace=ON
rds-preserve-trx-temp-table-enable=ON
log_error_verbosity=3

[mysqld.2]
server_id=2
default_authentication_plugin=mysql_native_password
rds-preserve-trx-enable=ON
rds-preserve-trx-temp-id-namespace=ON
rds-preserve-trx-temp-table-enable=ON
rds-preserve-trx-transfer-max-inflight-bytes=32768
log_error_verbosity=3

[ENV]
SERVER_MYPORT_2=@mysqld.2.port
