!include ../my.cnf

[mysqld.1]
log-bin=preserve-trx-receiver-crash-before-commit-bin
binlog-format=ROW
gtid-mode=ON
enforce-gtid-consistency=ON
max_allowed_packet=67108864
rds-preserve-trx-transfer-runtime-profile=BUSINESS_FIRST

[mysqld.2]
skip-log-bin
max_allowed_packet=67108864
